<div class="p-3">
    <div class="text-center mb-3">
        <i class="bi bi-houses-fill"></i>
        <h1 >Welcome in our page</h1>
    </div>
    <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eum in eligendi eius voluptatem libero aspernatur neque doloremque nam, necessitatibus consequuntur voluptatum non pariatur nesciunt sint. Sapiente facere explicabo repellendus.
        Necessitatibus hic voluptates id, officiis officia quis aperiam dolorum! Rerum aspernatur necessitatibus illum explicabo unde, beatae neque consequuntur a nostrum, odio saepe nemo provident distinctio alias omnis quae, eum ullam.
        Atque voluptatem perferendis repudiandae veritatis labore voluptates ex sint vel culpa in at magni ipsa nisi quas natus debitis eos nostrum rerum, cupiditate nemo cum! Laborum eius odio dolorum ratione.
        lor
    </p>
    <hr>
    <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae repellendus reprehenderit facilis iusto eaque corrupti facere, fugiat adipisci neque architecto perferendis qui. Iusto accusantium veritatis, ab in veniam tempore porro!
        Quia eaque veritatis cumque veniam sed! Voluptatem dignissimos at repellendus incidunt mollitia, dolores vitae. Error, totam. Dolorem cumque natus ex aut maxime adipisci velit provident non distinctio, explicabo, porro nisi!
    </p>
</div>